@use 'variables'
    
@mixin flex 
    display: flex
    flex-direction: column
    gap: 2.1rem

@mixin animation-image 
    @keyframes animation-image
        0%
            left: 0%
        25%
            left: 50%
        50%
            left: 0%
        75%
            left: -50%
        100%
            left: 0%

@mixin titulo 
    font-size: 3rem
    font-weight: 400
    color: variables.$bg-cor
    padding-bottom: 2rem

@mixin content 
    padding: 3rem 2rem 1rem

@mixin section-img 
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 800px
    height: 400px

@mixin section-texto
    text-align: justify
    display: flex
    flex-direction: column
    justify-content: space-between
    font-size: 1.2rem
    font-weight: 300
    line-height: 1

@mixin botao
    background-color: variables.$bg-cor
    text-decoration: none
    color: #fff
    width: 12rem
    height: 3rem
    padding: 2rem
    display: flex
    align-items: center
    justify-content: center
    transition: .8s

@mixin flex-galeria 
    display: flex
    justify-content: space-around

@mixin quebra1
    @media(max-width: 930px)
        @content

@mixin quebra2
    @media(max-width: 680px)
        @content

@mixin quebra3
    @media(max-width: 540px)
        @content